[submodule "dep"]
	path = dep
	url  = https://gitee.com/zhangluwei/mangosDeps

[submodule "src/realmd"]
	path = src/realmd
	url  = https://gitee.com/zhangluwei/realmd

[submodule "src/modules/SD3"]
	path = src/modules/SD3
	url  = https://github.com/mangos/ScriptDev3.git

[submodule "src/tools/Extractor_projects"]
	path = src/tools/Extractor_projects
	url  = https://gitee.com/zhangluwei/Extractor_projects

[submodule "win"]
	path = win
	url  = https://gitee.com/zhangluwei/EasyBuild

[submodule "src/modules/Eluna"]
	path = src/modules/Eluna
	url  = https://gitee.com/zhangluwei/ElunaLuaEngine/Eluna

